:root{
    /* color */
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainbg: hsl(217, 54%, 11%);
    --cardbg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    
    /* font */
    --family: "Outfit", sans-serif;
    /* size: 18px */
    /* weight: 300 400 600 */

    /* width */
    /* mobile: 375px */
    /* desktop: 1440px */
}

*,*::before,*::after{
    box-sizing: border-box;
    /* border: solid 1px #ccc; */
}

html,body{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--mainbg);
}
.container{
    max-width: 33rem;
}
.nftCard{
    margin: 0;
    max-width: 23rem;
    padding: 2rem;
    font-family: var(--family);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cardbg);
    border-radius: 1rem;

}
.productImg{
    max-width: 25rem;
    margin: 0; 
    border-radius: 1rem;
    position: relative;
    &:hover #view{
        opacity: 0.7;
        cursor: pointer;
    }
}
#equilibrium{
    max-width: 100%;
    margin: 0;
    display: block;
    border-radius: 1rem;
}
#view{
    max-width: 100%;
    position: absolute;
    padding: 8rem;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: hsl(178, 90%, 30%);
    border-radius: 1rem;
    opacity: 0;
}

.productName{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    &:hover{
        color: var(--cyan);
        cursor: pointer;
    }
}

.productIntroduce{
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--softblue);
}

.productDetail{
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.price{
    margin: 0;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cyan);
    &::before{
        content: "";
        background-image: url(https://raw.githubusercontent.com/tina801005/challenge9/3fdca2cd77be447b4525f41f777d96fb60b43e2f/images/icon-ethereum.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.2rem;
        height: 1.2rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.deadline{
    margin: 0;
    font-weight: 400;
    font-size: 0.85rem;
    color: var(--softblue);
    &::before{
        content: "";
        background-image: url(https://raw.githubusercontent.com/tina801005/challenge9/3fdca2cd77be447b4525f41f777d96fb60b43e2f/images/icon-clock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.2rem;
    }
}

hr{
    margin: 0;
    color: var(--line);

}

.productAuthor{
    margin: 0;
    display: flex;
    align-items: center;
}
.productAuthor img{
    border: solid 1.5px var(--white);
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
}

.authorName{
    margin: 0;
    font-size: 0.85rem;
    padding-left: 1rem;
    color: var(--white);
    &:hover{
        color: var(--cyan);
        cursor: pointer;
    }
    &::before{
        content: "Creation of ";
        color: var(--softblue);
    }
}

@media screen and (max-width:375px) {
    body{
        padding: 1rem;
    }
}